.calculator {
    width: 500px;
    height: 800px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    padding: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.2s;
}

button:active {
    background-color: #d9d9d9;
  }

.equals {
    grid-column: span 2;
    background-color: #4caf50;
    color: white;
}
  
.equals:active {
    background-color: #45a049;
}

.display {
    width: 95%;
    height: 20%;
    background-color: #726f6f;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-x: auto; 
    white-space: nowrap;
}

.display-text {
    font-size: 5rem;
    margin-right: 0.5rem;
    font-weight: 600;
    min-width: 100%;
    text-align: right;
    
}

